div#edit_list_title {
    margin: 0 auto;
    width: 30em;
}

div#edit_list_title form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-flow: column;
    margin-bottom: 2em;
}

div#current_members {
    margin: 0 auto;
    width: 30em;
}

div#current_members h2 {
    margin-bottom: 0.5em;
}

div#current_members p {
    background-color: #08AD44;
    border: 2px solid white;
    padding: 0.25em;
    text-align: center;
}

table {
    width: 100%;
}

@media screen and (max-width: 359px) and (orientation: portrait) {
    div#current_members {
        width: 100%;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) and (orientation: portrait) {
    div#current_members {
        width: 100%;
    }
}

@media screen and (max-width: 639px) and (orientation: landscape) {
    div#current_members {
        width: 80%;
    }
}