form input {
    margin-top: 1em;
}

div#add_list {
    display: block;
    text-align: center;
}

div#add_list,
div#lists_overview {
    margin: auto;
}

table td:nth-child(2) {
    width: 1em;
}

div#lists_overview table thead td {
    border: 0;
}

div#lists_overview table td:first-child {
    padding: 2px 4px;
}

label {
    display: none;
}

table {
    margin: auto;
    width: 100%;
}

div#lists_overview {
    width: 30em;
}

@media screen and (max-width: 359px) and (orientation: portrait) {
    div#lists_overview {
        width: 100%;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) and (orientation: portrait) {
    div#lists_overview {
        width: 100%;
    }
}

@media screen and (max-width: 639px) and (orientation: landscape) {
    div#lists_overview {
        width: 80%;
    }
}

