div.invite_holder {
    width: 100%;
}

div.invite_holder table {
    margin: auto;
    width: 30em;
}

div#invite form {
    text-align: center;
}

table td:first-child {
    padding: 2px 4px;
}

p.empty_row {
    margin-bottom: 0;
    padding: 2px 4px;
}

div.invite_holder {
    margin: 0 auto 1em;
}

form select {
    display: block;
    margin: 1em auto 1em;
    width: 30%;
}

@media screen and (max-width: 359px) and (orientation: portrait) {
    form,
    form select {
        width: 100%;
    }

    div.invite_holder table {
        width: 100%;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) and (orientation: portrait) {
    form,
    form select {
        width: 100%;
    }

    div.invite_holder table {
        width: 100%;
    }
}

@media screen and (max-width: 639px) and (orientation: landscape) {
    div.invite_holder table {
        width: 80%;
    }
}