div#login p {
    margin-top: 1em;
    text-align: center;
}

div#login form {
    display: flex;
    flex-flow: column;
}

div#login form input {
    display: block;
    margin: 0 auto 1em;
    width: 100%;
}

div#login form label {
    display: block;
    text-align: left;
}