* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

header,
footer,
div.guv {
    background-color: rgb(255, 173, 68);
    margin: auto;
    padding: 20px;
    width: 90%;
}

div.guv {
    border: 1px solid rgb(132, 77, 0);
}

header {
    border-right: 1px solid rgb(132, 77, 0);
    border-bottom: 1px solid rgb(132, 77, 0);
    border-left: 1px solid rgb(132, 77, 0);
    margin-bottom: 1em;
}

h1,
h2 {
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    margin-right: 1em;
    text-align: center;
    text-shadow: 1px 1px 1px #555;
}

h1 {
    font-size: 1.8em;
    clear: none;
}

h1 a {
    color: white;
    text-decoration: none;
}

h2 {
    font-size: 1.2em;
}

div#main_container {
    background-color: floralwhite;
    display: flex;
    flex-flow: column;
    margin: auto;
    width: 100%;
}

div#inner_container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-bottom: 1em;
}

p {
    margin-bottom: 0.5em;
}

label,
p,
li,
td {
    color: white;
    font-family: sans-serif;
    font-size: 1em;
}

form select {
    background-color: white;
    border: 1px solid white;
    color: black;
    font-size: 1em;
    margin-right: 0.5em;
    outline: none;
    padding: 3px 3px 0 3px;
}

form select option {
    background-color: white;
    margin-bottom: 2px;
    padding: 2px 4px;
    text-indent: 10px;
}

form input {
    border: 0;
    margin-bottom: 1em;
}

form input:invalid {
    box-shadow: none;
}

form input:required {
    background-color: white;
}

table {
    background-color: white;
    font-size: 1em;
}

table tr {
    background-color: rgb(8, 173, 68);
}

table td {
    padding: 0.25em;
}

table td:last-child {
    width: 2em;
}

table td.empty_row {
    width: 100%;
}

button,
table td button,
input[type="submit"] {
    background-color: rgb(139, 221, 248);
    border: 0;
    padding: 0.25em;
}

table td button:hover,
input[type="submit"]:hover {
    background-color: white;
    cursor: pointer;
}

table td button:active,
input[type="submit"]:active {
    background-color: black;
    box-shadow: 0px 0px 0px #000;
    color: white;
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    height: 21px;
    padding: 2px 0;
    text-indent: 4px;
}

div#errors {
    background-color: rgb(185, 38, 53);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

div#errors ul {
    list-style: square;
    font-weight: bold;
    padding: 0.5em 1em;
    text-align: center;
}

footer {
    border: 1px solid rgb(132, 77, 0);
    color: white;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
}

div#login,
div#registration {
    margin: auto;
}

div#presentation p,
div#registration p {
    line-height: 1.5em;
    margin: 1em auto 1em;
}

p a,
p a:visited {
    color: blue;
}

@media screen and (max-width: 359px) and (orientation: portrait) {
    div#login,
    div#registration {
        margin: auto;
        width: 95%;
    }

    div#presentation p,
    div#registration p {
        line-height: 1.5em;
        margin: 1em auto 1em;
        width: 95%;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) and (orientation: portrait) {
    div#login,
    div#registration {
        margin: auto;
        width: 95%;
    }

    div#presentation p,
    div#registration p {
        line-height: 1.5em;
        margin: 1em auto 1em;
        width: 95%;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    div#login,
    div#registration {
        margin: auto;
        width: 40%;
    }

    div#presentation p,
    div#registration p {
        line-height: 1.5em;
        margin: 1em auto 1em;
        width: 60%;
    }
}

@media screen and (max-width: 639px) and (orientation: landscape) {
    div#login,
    div#registration {
        margin: auto;
        width: 80%;
    }

    div#presentation p,
    div#registration p {
        line-height: 1.5em;
        margin: 1em auto 1em;
        width: 80%;
    }
}

@media screen and (min-width: 640px) and (max-width: 767px) and (orientation: landscape) {
    div#login,
    div#registration {
        margin: auto;
        width: 70%;
    }

    div#presentation p,
    div#registration p {
        line-height: 1.5em;
        margin: 1em auto 1em;
        width: 70%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1919px) and (orientation: landscape) {
    div#login,
    div#registration {
        margin: auto;
        width: 30%;
    }

    div#about {
        line-height: 1.5em;
        margin: auto;
        width: 40%;
    }

    div#presentation p,
    div#registration p {
        line-height: 1.5em;
        margin: 1em auto 1em;
        width: 30%;
    }
}

@media screen and (min-width: 1920px) and (orientation: landscape) {
    div#login,
    div#registration,
    div#about {
        margin: auto;
        width: 30%;
    }

    div#presentation p,
    div#registration p {
        line-height: 1.5em;
        margin: 1em auto 1em;
        width: 30%;
    }
}

