div#lists,
div#items {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: auto;
}

div#lists {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 1em;
}

div#lists button {
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 1em;
    line-height: 2px;
}

div#lists form {
    margin: auto;
    width: 20em;
}

div#add_list_form {
    display: none;
    margin: 0 auto 1.5em;
    width: 20em;
}

div#lists h2,
div#items h2 {
    display: none;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
}

div#items table tr:first-child {
    display: none;
}

div#items table {
    background-color: #E4ECEF;
    font-family: sans-serif;
    margin-bottom: 1em;
    width: 100%;
}

body#member form label {
    display: none;
}

div#lists option {
    background-color: white;
}

div#lists option.member {
    background-color: #e0dceb;
}

div#lists option.owner {
    background-color: white;
}

div#lists form p:first-child {
    margin-bottom: 1em;
}

table td:first-child:hover {
    cursor: pointer;
}

div#items table tr td:last-child button:hover {
    cursor: pointer;
}

div#items table td:first-child.tapped {
    background-color: rgb(185, 38, 53);
    text-decoration: line-through;
    color: white;
}

div#items table td:first-child.untapped {
    background-color: rgb(8, 173, 68);
    color: whitesmoke;
}

form input[type="password"],
form input[type="text"] {
    border: 0;
    text-indent: 5px;
}

form#add_items_form {
    text-align: center;
}

div#items {
    margin-bottom: 2em;
    width: 30em;
}

@media screen and (max-width: 359px) and (orientation: portrait) {
    div#items {
        width: 100%;
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) and (orientation: portrait) {
    div#items {
        width: 100%;
    }
}

@media screen and (max-width: 639px) and (orientation: landscape) {
    div#items {
        width: 80%;
    }
}