div#lists,
div#items {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin: auto;
}

div#items {
    margin-bottom: 2em;
}

div#lists {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 1em;
}

div#lists button {
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 1em;
    line-height: 2px;
}

div#add_list_form {
    display: none;
    margin: 0 auto 1.5em;
}

div#lists h2,
div#items h2 {
    display: none;
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
}

div#items table tr:first-child {
    display: none;
}

div#items table {
    background-color: #E4ECEF;
    font-family: sans-serif;
    margin-bottom: 1em;
    width: 100%;
}

body#member form label {
    display: none;
}

div#lists option.member {
    background-color: lightgray;
}

div#lists option.owner {
    background-color: white;
}

div#lists form p:first-child {
    margin-bottom: 1em;
}

div#lists form p:first-child select {
    border: 1px solid white;
    color: black;
    font-size: 1em;
    margin-right: 0.5em;
    outline: none;
    padding: 3px 3px 0 3px;
    width: 100%;
}

div#lists form select option {
    background-color: white;
    margin-bottom: 2px;
    padding: 2px 4px;
    text-indent: 10px;
}

div#items table tr {
    background-color: green;
    color: white;
}

div#items table td:first-child {
    background-color: green;
    width: 100%;
}

div#items table td:first-child:hover {
    cursor: pointer;
}

div#items table tr td:last-child {
    float: right;
}

div#items table tr td:last-child button:hover {
    cursor: pointer;
}

div#items table td {
    padding: 0.25em;
}

div#items table td:first-child.tapped {
    background-color: rgb(128, 0, 0);
}

div#items table td:first-child.untapped {
    background-color: rgb(0, 128, 0);
}

form input[type="password"],
form input[type="text"] {
    border: 0;
    text-indent: 5px;
}

div#items table td button:hover,
input[type="submit"]:hover {
    cursor: pointer;
}