header {
    display: flex;
    flex-flow: column;
}

body#login div#welcome,
body#login div#logo img,
body#register div#welcome,
body#register div#logo img,
body#about div#welcome,
body#about div#logo img {
    display: none;
}

div#welcome p {
    color: #444;
    font-size: 0.75em;
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 0;
    text-align: right;
}

div#welcome p span {
    color: black;
    font-style: italic;
}

div#logo {
    display: flex;
    flex-flow: row;
    position: relative;
}

div#logo_inner {
    margin: auto;
    width: 10em;
}

/*
div#logo img {
    border: 1px solid white;
    height: 30px;
    position: absolute;
      right: 10px;
      top: 10px;
}

div#logo img:hover {
    cursor: pointer;
}
*/

div#hamburger_holder {
    position: absolute;
    right: 10px;
    top: 10px;
}

div#hamburger_holder:hover {
    cursor: pointer;
}

div#hamburger_holder img {
    border: 1px solid white;
}

h3#num_inv {
    background-color: rgb(185, 38, 53);
    border-radius: 20px;
    color: white;
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    padding: 0.25em 0.5em 0.5em 0.5em;
    position: absolute;
      bottom: -5px;
      right: -10px;
    height: 1em;
    width: 1em;
    text-align: center;
}

h3#num_inv:hover {
    cursor: default;
}

nav {
    position: relative;
}

nav ul {
    display: none;
    background-color: rgb(132, 77, 0);
    box-shadow: 1px 2px 3px #555;
    list-style: none;
    position: absolute;
      top: 0.5em;
      right: 0.75em;
    text-align: center;
    width: 10em;
}

nav ul li {
    font-family: sans-serif;
    margin-bottom: 5px;
}

nav ul li a:hover {
    background-color: #ededed;
    background-color: lightblue;
}

nav ul li a:active {
    background-color: black;
    color: white;
}

nav ul li:last-child {
    margin-bottom: 0;
}

nav ul li a {
    background-color: white;
    color: black;
    display: block;
    padding: 0.5em;
    text-decoration: none;
}