div#registration {
    margin-top: 1em;
}

div#registration form {
    display: flex;
    flex-flow: column;
}

div#registration p {
    margin-top: 1em;
    text-align: center;
}

div#registration form label {
    display: block;
}

div#registration form input {
    display: block;
    width: 100%;
}